@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: black;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: black;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}

.accord {
  position: relative;
}

.accord-cont {
  width: 100%;
  min-height: 110px;
  top: 3431.5px;
  left: 235px;
  gap: 0px;
  opacity: 1;
  border-bottom: 3px solid;

  border-image-source: linear-gradient(
    270.01deg,
    #0f1d29 23.04%,
    #114554 67.69%,
    #101019 90.29%
  );
}

.accord-lines {
  background: linear-gradient(
    270.01deg,
    #0f1d29 23.04%,
    #114554 67.69%,
    #101019 90.29%
  );
}

.accord-vlines {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px;

  background: linear-gradient(#0f1d29 23.04%, #114554 67.69%, #101019 90.29%);
}

.accord-velines {
  position: absolute;
  top: 0;
  right: 0;
  border: 2px;

  background: linear-gradient(#0f1d29 23.04%, #114554 67.69%, #101019 90.29%);
}



.partial-border-gradient {
  background: linear-gradient(
    147deg,
    #3e89fa 0%,
    #002b82 12%,

    transparent 12%,
    transparent 35%,

    #3e89fa 35%,
    #002b82 48%,
    #3e89fa 60%,
    transparent 60%,
    transparent 90%,
    #002b82 90%,
    #3e89fa 100%
  );
  border-radius: 15px;
  padding: 3px;
  box-sizing: border-box;
}
