#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow:
    718px 1001px #fff,
    1749px 542px #fff,
    1615px 1551px #fff,
    1451px 1810px #fff,
    649px 301px #fff,
    1986px 1458px #fff,
    306px 282px #fff,
    1238px 20px #fff,
    777px 1896px #fff,
    1637px 257px #fff,
    509px 482px #fff,
    814px 1616px #fff,
    521px 1525px #fff,
    1428px 577px #fff,
    107px 495px #fff,
    1908px 1395px #fff,
    1600px 747px #fff,
    681px 937px #fff,
    1940px 790px #fff,
    294px 1198px #fff,
    1586px 1905px #fff,
    702px 246px #fff,
    1638px 1702px #fff,
    894px 877px #fff,
    407px 1353px #fff,
    90px 210px #fff,
    1606px 1920px #fff,
    654px 464px #fff,
    1571px 920px #fff,
    423px 775px #fff,
    1157px 1659px #fff,
    356px 963px #fff,
    970px 584px #fff,
    1439px 987px #fff,
    174px 513px #fff,
    1027px 1391px #fff,
    1283px 255px #fff,
    928px 1296px #fff,
    1367px 867px #fff,
    34px 1599px #fff,
    307px 309px #fff,
    1257px 1574px #fff,
    1925px 1916px #fff,
    558px 1368px #fff,
    1583px 710px #fff,
    1764px 1545px #fff,
    1860px 64px #fff,
    724px 176px #fff,
    1042px 619px #fff,
    970px 754px #fff,
    223px 428px #fff,
    806px 695px #fff,
    1760px 309px #fff,
    1170px 1828px #fff,
    57px 415px #fff,
    1963px 420px #fff,
    292px 1027px #fff,
    104px 1171px #fff,
    1129px 1030px #fff,
    1603px 48px #fff,
    1001px 1613px #fff,
    1260px 1069px #fff,
    1108px 1356px #fff,
    1852px 1080px #fff,
    1879px 674px #fff,
    1070px 518px #fff,
    1114px 1977px #fff,
    1135px 1222px #fff,
    1369px 1994px #fff,
    710px 103px #fff,
    685px 427px #fff,
    325px 686px #fff,
    1689px 1951px #fff,
    71px 1261px #fff,
    1417px 1087px #fff,
    353px 772px #fff,
    1287px 242px #fff,
    1862px 1973px #fff,
    1589px 231px #fff,
    407px 1977px #fff,
    1999px 1836px #fff,
    564px 136px #fff,
    1189px 1312px #fff,
    1969px 664px #fff,
    1390px 1356px #fff,
    1615px 1499px #fff,
    554px 527px #fff,
    1864px 913px #fff,
    994px 377px #fff,
    1516px 761px #fff,
    347px 1858px #fff,
    1388px 583px #fff,
    873px 137px #fff,
    871px 1284px #fff,
    167px 1751px #fff,
    907px 1556px #fff,
    267px 639px #fff,
    78px 200px #fff,
    222px 529px #fff,
    508px 330px #fff,
    1508px 32px #fff,
    397px 36px #fff,
    1408px 1102px #fff,
    47px 1334px #fff,
    1256px 607px #fff,
    284px 1292px #fff,
    1597px 976px #fff,
    885px 1736px #fff,
    1688px 1101px #fff,
    1697px 724px #fff,
    1745px 725px #fff,
    649px 1051px #fff,
    1878px 1607px #fff,
    1663px 1716px #fff,
    944px 1833px #fff,
    333px 1128px #fff,
    70px 1991px #fff,
    253px 1921px #fff,
    608px 1995px #fff,
    1592px 360px #fff,
    203px 1772px #fff,
    453px 1284px #fff,
    890px 1351px #fff,
    634px 1885px #fff,
    1934px 768px #fff,
    588px 387px #fff,
    510px 481px #fff,
    1990px 1329px #fff,
    1095px 955px #fff,
    843px 1397px #fff,
    1353px 1446px #fff,
    1957px 1483px #fff,
    391px 561px #fff,
    1552px 1045px #fff,
    1211px 1369px #fff,
    874px 118px #fff,
    704px 1605px #fff,
    1822px 391px #fff,
    1849px 1773px #fff,
    413px 246px #fff,
    1772px 1764px #fff,
    1822px 845px #fff,
    450px 1749px #fff,
    77px 1755px #fff,
    666px 1996px #fff,
    1459px 1184px #fff,
    217px 1900px #fff,
    1321px 262px #fff,
    1496px 1946px #fff,
    755px 1489px #fff,
    961px 331px #fff,
    401px 1079px #fff,
    961px 1843px #fff,
    1368px 1860px #fff,
    1117px 1359px #fff,
    1961px 258px #fff,
    1385px 1009px #fff,
    1342px 1561px #fff,
    169px 1796px #fff,
    449px 116px #fff,
    1532px 1572px #fff,
    1227px 883px #fff,
    760px 432px #fff,
    1055px 1411px #fff,
    1671px 734px #fff,
    469px 1418px #fff,
    1980px 862px #fff,
    1680px 998px #fff,
    1344px 1232px #fff,
    389px 293px #fff,
    1319px 432px #fff,
    6px 1708px #fff,
    917px 544px #fff,
    291px 829px #fff,
    464px 1325px #fff,
    1162px 1213px #fff,
    1566px 535px #fff,
    1797px 1836px #fff,
    1969px 575px #fff,
    1306px 916px #fff,
    1484px 1349px #fff,
    149px 1168px #fff,
    1903px 875px #fff,
    1071px 1489px #fff,
    1880px 1867px #fff,
    804px 1563px #fff,
    737px 160px #fff,
    80px 1117px #fff,
    854px 1180px #fff,
    1781px 524px #fff,
    1011px 337px #fff,
    1853px 857px #fff,
    235px 957px #fff,
    167px 1121px #fff,
    546px 1562px #fff,
    146px 244px #fff,
    872px 1599px #fff,
    379px 1296px #fff,
    1765px 1253px #fff,
    2000px 1986px #fff,
    1272px 289px #fff,
    1156px 107px #fff,
    1622px 1922px #fff,
    13px 1491px #fff,
    65px 1451px #fff,
    624px 1519px #fff,
    1987px 599px #fff,
    502px 1753px #fff,
    1504px 355px #fff,
    1932px 1173px #fff,
    30px 1586px #fff,
    1302px 1185px #fff,
    325px 85px #fff,
    1094px 251px #fff,
    319px 1388px #fff,
    1985px 1360px #fff,
    1677px 41px #fff,
    175px 1730px #fff,
    1315px 1153px #fff,
    1753px 131px #fff,
    1342px 1308px #fff,
    1174px 60px #fff,
    1395px 782px #fff,
    1623px 1266px #fff,
    1562px 1544px #fff,
    977px 1122px #fff,
    1985px 1281px #fff,
    1623px 110px #fff,
    784px 534px #fff,
    784px 65px #fff,
    123px 287px #fff,
    1817px 981px #fff,
    1997px 739px #fff,
    1104px 1642px #fff,
    869px 686px #fff,
    368px 1428px #fff,
    230px 286px #fff,
    1100px 388px #fff,
    1306px 999px #fff,
    1910px 685px #fff,
    1647px 1566px #fff,
    113px 795px #fff,
    920px 776px #fff,
    756px 523px #fff,
    606px 1776px #fff,
    1999px 779px #fff,
    454px 524px #fff,
    822px 486px #fff,
    482px 268px #fff,
    1848px 747px #fff,
    1835px 1968px #fff,
    786px 694px #fff,
    1992px 1423px #fff,
    1265px 1574px #fff,
    249px 319px #fff,
    1812px 1838px #fff,
    1666px 360px #fff,
    590px 563px #fff,
    1451px 413px #fff,
    751px 1812px #fff,
    457px 1803px #fff,
    1850px 1562px #fff,
    1179px 1509px #fff,
    337px 359px #fff,
    1825px 1834px #fff,
    678px 131px #fff,
    1069px 1674px #fff,
    1712px 1474px #fff,
    4px 678px #fff,
    1340px 9px #fff,
    1318px 508px #fff,
    607px 388px #fff,
    1076px 775px #fff,
    493px 983px #fff,
    841px 1944px #fff,
    1993px 1028px #fff,
    315px 227px #fff,
    582px 608px #fff,
    1198px 1369px #fff,
    957px 1509px #fff,
    1183px 165px #fff,
    606px 1583px #fff,
    175px 1195px #fff,
    626px 1727px #fff,
    1372px 1304px #fff,
    201px 1036px #fff,
    225px 820px #fff,
    1967px 874px #fff,
    1716px 109px #fff,
    1027px 520px #fff,
    932px 1144px #fff,
    1672px 440px #fff,
    1085px 431px #fff,
    1686px 1158px #fff,
    1517px 1863px #fff,
    220px 788px #fff,
    1268px 942px #fff,
    372px 1466px #fff,
    611px 1157px #fff,
    1362px 889px #fff,
    795px 882px #fff,
    129px 1210px #fff,
    794px 279px #fff,
    1608px 397px #fff,
    1039px 656px #fff,
    372px 566px #fff,
    649px 1812px #fff,
    1057px 1532px #fff,
    329px 661px #fff,
    1707px 679px #fff,
    784px 1955px #fff,
    14px 1335px #fff,
    34px 1079px #fff,
    1882px 1437px #fff,
    1015px 1698px #fff,
    580px 999px #fff,
    182px 1374px #fff,
    441px 1428px #fff,
    1507px 918px #fff,
    1627px 1009px #fff,
    892px 139px #fff,
    1454px 707px #fff,
    1469px 351px #fff,
    1214px 1880px #fff,
    1442px 344px #fff,
    158px 1005px #fff,
    1972px 1100px #fff,
    1009px 267px #fff,
    1617px 627px #fff,
    205px 251px #fff,
    1635px 1688px #fff,
    1161px 252px #fff,
    819px 667px #fff,
    980px 770px #fff,
    1902px 1757px #fff,
    1303px 828px #fff,
    298px 1320px #fff,
    1603px 1688px #fff,
    395px 353px #fff,
    1126px 1083px #fff,
    808px 499px #fff,
    1947px 511px #fff,
    1506px 855px #fff,
    861px 555px #fff,
    761px 643px #fff,
    340px 541px #fff,
    1722px 1633px #fff,
    1480px 796px #fff,
    921px 1264px #fff,
    1624px 546px #fff,
    393px 1519px #fff,
    1887px 1815px #fff,
    1168px 670px #fff,
    363px 1709px #fff,
    237px 66px #fff,
    1931px 994px #fff,
    959px 170px #fff,
    77px 1495px #fff,
    1552px 978px #fff,
    883px 1640px #fff,
    1391px 478px #fff,
    1996px 1599px #fff,
    664px 1669px #fff,
    816px 1548px #fff,
    357px 784px #fff,
    1968px 1932px #fff,
    1300px 955px #fff,
    1527px 212px #fff,
    1826px 711px #fff,
    1926px 573px #fff,
    1536px 1395px #fff,
    644px 718px #fff,
    1885px 982px #fff,
    1138px 223px #fff,
    1059px 1347px #fff,
    384px 932px #fff,
    98px 513px #fff,
    788px 285px #fff,
    1899px 603px #fff,
    686px 860px #fff,
    236px 1898px #fff,
    25px 1835px #fff,
    1313px 1476px #fff,
    1487px 1334px #fff,
    1916px 1948px #fff,
    1361px 1742px #fff,
    53px 985px #fff,
    967px 806px #fff,
    1363px 1615px #fff,
    437px 1634px #fff,
    1633px 1649px #fff,
    1937px 1212px #fff,
    1482px 1910px #fff,
    65px 944px #fff,
    752px 877px #fff,
    959px 251px #fff,
    1804px 1477px #fff,
    1457px 1117px #fff,
    1857px 296px #fff,
    1399px 922px #fff,
    1358px 1134px #fff,
    150px 138px #fff,
    1089px 1842px #fff,
    263px 1764px #fff,
    757px 589px #fff,
    136px 1994px #fff,
    1098px 1090px #fff,
    232px 1170px #fff,
    533px 468px #fff,
    1114px 186px #fff,
    523px 1937px #fff,
    391px 722px #fff,
    586px 1355px #fff,
    1494px 1377px #fff,
    647px 1544px #fff,
    1118px 1232px #fff,
    110px 913px #fff,
    654px 604px #fff,
    596px 1173px #fff,
    1957px 975px #fff,
    117px 281px #fff,
    1396px 509px #fff,
    1163px 817px #fff,
    539px 1782px #fff,
    762px 1496px #fff,
    616px 1327px #fff,
    158px 1431px #fff,
    507px 773px #fff,
    1562px 858px #fff,
    179px 982px #fff,
    305px 22px #fff,
    800px 1290px #fff,
    1172px 1784px #fff,
    1416px 499px #fff,
    1378px 1997px #fff,
    1514px 1881px #fff,
    1329px 1540px #fff,
    983px 1137px #fff,
    434px 1787px #fff,
    64px 1632px #fff,
    322px 1124px #fff,
    309px 1260px #fff,
    1626px 66px #fff,
    1872px 1778px #fff,
    19px 1942px #fff,
    1156px 216px #fff,
    1860px 1265px #fff,
    1870px 1044px #fff,
    787px 325px #fff,
    177px 865px #fff,
    1018px 722px #fff,
    134px 298px #fff,
    1379px 926px #fff,
    1816px 286px #fff,
    1563px 732px #fff,
    679px 1119px #fff,
    1619px 68px #fff,
    1067px 1756px #fff,
    101px 1114px #fff,
    1395px 1486px #fff,
    634px 1940px #fff,
    448px 1169px #fff,
    1467px 427px #fff,
    542px 1679px #fff,
    1998px 1423px #fff,
    208px 503px #fff,
    47px 1152px #fff,
    787px 1278px #fff,
    1277px 1622px #fff,
    488px 1045px #fff,
    989px 336px #fff,
    1168px 1713px #fff,
    1409px 1030px #fff,
    1813px 194px #fff,
    261px 139px #fff,
    165px 1223px #fff,
    405px 1309px #fff,
    1717px 1711px #fff,
    865px 1557px #fff,
    267px 29px #fff,
    1253px 298px #fff,
    371px 1024px #fff,
    361px 89px #fff,
    293px 122px #fff,
    1012px 1991px #fff,
    192px 821px #fff,
    517px 1847px #fff,
    1487px 96px #fff,
    1839px 954px #fff,
    472px 1416px #fff,
    837px 201px #fff,
    1072px 1734px #fff,
    661px 1740px #fff,
    321px 1868px #fff,
    431px 1846px #fff,
    1630px 482px #fff,
    1555px 1223px #fff,
    265px 521px #fff,
    1301px 117px #fff,
    995px 1093px #fff,
    797px 1870px #fff,
    543px 293px #fff,
    481px 652px #fff,
    353px 227px #fff,
    552px 463px #fff,
    1575px 629px #fff,
    253px 1897px #fff,
    1528px 1949px #fff,
    1283px 936px #fff,
    782px 1185px #fff,
    1130px 293px #fff,
    499px 1983px #fff,
    1605px 1432px #fff,
    1586px 1167px #fff,
    1904px 1303px #fff,
    433px 44px #fff,
    616px 67px #fff,
    340px 1695px #fff,
    332px 638px #fff,
    1561px 1124px #fff,
    1673px 1482px #fff,
    1537px 833px #fff,
    1990px 863px #fff,
    375px 1785px #fff,
    1720px 126px #fff,
    356px 1763px #fff,
    1505px 377px #fff,
    503px 1636px #fff,
    1755px 832px #fff,
    646px 412px #fff,
    1515px 298px #fff,
    108px 1678px #fff,
    1366px 1064px #fff,
    983px 317px #fff,
    746px 907px #fff,
    179px 1486px #fff,
    1768px 1478px #fff,
    1489px 435px #fff,
    1917px 1835px #fff,
    1236px 407px #fff,
    179px 1191px #fff,
    988px 770px #fff,
    1661px 166px #fff,
    401px 1789px #fff,
    57px 563px #fff,
    874px 1075px #fff,
    945px 1615px #fff,
    1065px 602px #fff,
    1357px 210px #fff,
    1580px 1710px #fff,
    8px 1468px #fff,
    365px 1797px #fff,
    1166px 182px #fff,
    471px 777px #fff,
    1963px 1948px #fff,
    540px 1790px #fff,
    482px 1059px #fff,
    1019px 967px #fff,
    1027px 332px #fff,
    393px 630px #fff,
    69px 493px #fff,
    191px 995px #fff,
    846px 354px #fff,
    404px 1633px #fff,
    1467px 1958px #fff,
    175px 783px #fff,
    751px 431px #fff,
    540px 929px #fff,
    1898px 1970px #fff,
    1137px 1644px #fff,
    40px 505px #fff,
    633px 1812px #fff,
    318px 1361px #fff,
    1618px 1727px #fff,
    1892px 633px #fff,
    1804px 1260px #fff,
    488px 1938px #fff,
    985px 435px #fff,
    90px 162px #fff,
    635px 1907px #fff,
    1187px 1004px #fff,
    30px 419px #fff,
    1382px 1403px #fff,
    1575px 413px #fff,
    1488px 150px #fff,
    195px 179px #fff,
    1377px 195px #fff,
    929px 1567px #fff,
    701px 635px #fff,
    1330px 1931px #fff,
    884px 1450px #fff,
    973px 613px #fff,
    15px 1184px #fff,
    1014px 1246px #fff,
    662px 516px #fff,
    1613px 1511px #fff,
    185px 838px #fff,
    1277px 1439px #fff,
    1431px 616px #fff,
    1136px 1700px #fff,
    1300px 260px #fff,
    839px 908px #fff,
    758px 98px #fff,
    1200px 761px #fff,
    1089px 1071px #fff,
    933px 1548px #fff,
    581px 1612px #fff,
    119px 1645px #fff,
    43px 1559px #fff,
    815px 1795px #fff,
    581px 983px #fff,
    631px 1742px #fff,
    1766px 376px #fff,
    1418px 1016px #fff,
    1942px 877px #fff,
    647px 350px #fff,
    1852px 316px #fff,
    1376px 1114px #fff,
    850px 1093px #fff,
    1340px 933px #fff,
    295px 1945px #fff,
    167px 385px #fff,
    1344px 534px #fff,
    1308px 156px #fff,
    500px 1963px #fff,
    68px 1902px #fff,
    86px 1869px #fff,
    603px 885px #fff,
    1010px 1548px #fff,
    91px 1533px #fff,
    232px 169px #fff,
    1436px 672px #fff,
    209px 1574px #fff,
    1260px 867px #fff,
    1959px 84px #fff,
    1740px 1474px #fff,
    39px 62px #fff,
    1406px 1065px #fff,
    821px 604px #fff,
    377px 908px #fff,
    60px 1379px #fff,
    1904px 39px #fff,
    1711px 1978px #fff,
    311px 1986px #fff,
    595px 1505px #fff,
    824px 1698px #fff,
    913px 194px #fff,
    297px 156px #fff,
    558px 1462px #fff,
    592px 300px #fff,
    459px 1324px #fff,
    1113px 1385px #fff,
    929px 1462px #fff,
    1382px 1543px #fff,
    1936px 537px #fff,
    1646px 1922px #fff,
    409px 517px #fff,
    1084px 1640px #fff,
    1913px 962px #fff,
    146px 120px #fff,
    1945px 306px #fff,
    1940px 867px #fff,
    1103px 15px #fff,
    1447px 967px #fff,
    1325px 1440px #fff,
    1947px 664px #fff,
    266px 855px #fff,
    1405px 15px #fff,
    654px 253px #fff,
    561px 698px #fff,
    961px 231px #fff,
    540px 1279px #fff,
    45px 1603px #fff,
    1551px 865px #fff,
    1902px 637px #fff,
    1761px 1158px #fff,
    374px 1557px #fff,
    783px 1711px #fff,
    491px 1902px #fff,
    1010px 934px #fff,
    1259px 241px #fff,
    1443px 1881px #fff,
    774px 1153px #fff,
    220px 651px #fff,
    1108px 786px #fff,
    1385px 1356px #fff,
    1880px 732px #fff,
    841px 1069px #fff,
    1020px 1509px #fff,
    265px 1387px #fff,
    1038px 1520px #fff,
    29px 1036px #fff,
    1958px 603px #fff,
    66px 1597px #fff,
    1579px 979px #fff,
    961px 1787px #fff,
    595px 1791px #fff,
    1174px 1426px #fff,
    40px 1028px #fff,
    1042px 939px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow:
    718px 1001px #fff,
    1749px 542px #fff,
    1615px 1551px #fff,
    1451px 1810px #fff,
    649px 301px #fff,
    1986px 1458px #fff,
    306px 282px #fff,
    1238px 20px #fff,
    777px 1896px #fff,
    1637px 257px #fff,
    509px 482px #fff,
    814px 1616px #fff,
    521px 1525px #fff,
    1428px 577px #fff,
    107px 495px #fff,
    1908px 1395px #fff,
    1600px 747px #fff,
    681px 937px #fff,
    1940px 790px #fff,
    294px 1198px #fff,
    1586px 1905px #fff,
    702px 246px #fff,
    1638px 1702px #fff,
    894px 877px #fff,
    407px 1353px #fff,
    90px 210px #fff,
    1606px 1920px #fff,
    654px 464px #fff,
    1571px 920px #fff,
    423px 775px #fff,
    1157px 1659px #fff,
    356px 963px #fff,
    970px 584px #fff,
    1439px 987px #fff,
    174px 513px #fff,
    1027px 1391px #fff,
    1283px 255px #fff,
    928px 1296px #fff,
    1367px 867px #fff,
    34px 1599px #fff,
    307px 309px #fff,
    1257px 1574px #fff,
    1925px 1916px #fff,
    558px 1368px #fff,
    1583px 710px #fff,
    1764px 1545px #fff,
    1860px 64px #fff,
    724px 176px #fff,
    1042px 619px #fff,
    970px 754px #fff,
    223px 428px #fff,
    806px 695px #fff,
    1760px 309px #fff,
    1170px 1828px #fff,
    57px 415px #fff,
    1963px 420px #fff,
    292px 1027px #fff,
    104px 1171px #fff,
    1129px 1030px #fff,
    1603px 48px #fff,
    1001px 1613px #fff,
    1260px 1069px #fff,
    1108px 1356px #fff,
    1852px 1080px #fff,
    1879px 674px #fff,
    1070px 518px #fff,
    1114px 1977px #fff,
    1135px 1222px #fff,
    1369px 1994px #fff,
    710px 103px #fff,
    685px 427px #fff,
    325px 686px #fff,
    1689px 1951px #fff,
    71px 1261px #fff,
    1417px 1087px #fff,
    353px 772px #fff,
    1287px 242px #fff,
    1862px 1973px #fff,
    1589px 231px #fff,
    407px 1977px #fff,
    1999px 1836px #fff,
    564px 136px #fff,
    1189px 1312px #fff,
    1969px 664px #fff,
    1390px 1356px #fff,
    1615px 1499px #fff,
    554px 527px #fff,
    1864px 913px #fff,
    994px 377px #fff,
    1516px 761px #fff,
    347px 1858px #fff,
    1388px 583px #fff,
    873px 137px #fff,
    871px 1284px #fff,
    167px 1751px #fff,
    907px 1556px #fff,
    267px 639px #fff,
    78px 200px #fff,
    222px 529px #fff,
    508px 330px #fff,
    1508px 32px #fff,
    397px 36px #fff,
    1408px 1102px #fff,
    47px 1334px #fff,
    1256px 607px #fff,
    284px 1292px #fff,
    1597px 976px #fff,
    885px 1736px #fff,
    1688px 1101px #fff,
    1697px 724px #fff,
    1745px 725px #fff,
    649px 1051px #fff,
    1878px 1607px #fff,
    1663px 1716px #fff,
    944px 1833px #fff,
    333px 1128px #fff,
    70px 1991px #fff,
    253px 1921px #fff,
    608px 1995px #fff,
    1592px 360px #fff,
    203px 1772px #fff,
    453px 1284px #fff,
    890px 1351px #fff,
    634px 1885px #fff,
    1934px 768px #fff,
    588px 387px #fff,
    510px 481px #fff,
    1990px 1329px #fff,
    1095px 955px #fff,
    843px 1397px #fff,
    1353px 1446px #fff,
    1957px 1483px #fff,
    391px 561px #fff,
    1552px 1045px #fff,
    1211px 1369px #fff,
    874px 118px #fff,
    704px 1605px #fff,
    1822px 391px #fff,
    1849px 1773px #fff,
    413px 246px #fff,
    1772px 1764px #fff,
    1822px 845px #fff,
    450px 1749px #fff,
    77px 1755px #fff,
    666px 1996px #fff,
    1459px 1184px #fff,
    217px 1900px #fff,
    1321px 262px #fff,
    1496px 1946px #fff,
    755px 1489px #fff,
    961px 331px #fff,
    401px 1079px #fff,
    961px 1843px #fff,
    1368px 1860px #fff,
    1117px 1359px #fff,
    1961px 258px #fff,
    1385px 1009px #fff,
    1342px 1561px #fff,
    169px 1796px #fff,
    449px 116px #fff,
    1532px 1572px #fff,
    1227px 883px #fff,
    760px 432px #fff,
    1055px 1411px #fff,
    1671px 734px #fff,
    469px 1418px #fff,
    1980px 862px #fff,
    1680px 998px #fff,
    1344px 1232px #fff,
    389px 293px #fff,
    1319px 432px #fff,
    6px 1708px #fff,
    917px 544px #fff,
    291px 829px #fff,
    464px 1325px #fff,
    1162px 1213px #fff,
    1566px 535px #fff,
    1797px 1836px #fff,
    1969px 575px #fff,
    1306px 916px #fff,
    1484px 1349px #fff,
    149px 1168px #fff,
    1903px 875px #fff,
    1071px 1489px #fff,
    1880px 1867px #fff,
    804px 1563px #fff,
    737px 160px #fff,
    80px 1117px #fff,
    854px 1180px #fff,
    1781px 524px #fff,
    1011px 337px #fff,
    1853px 857px #fff,
    235px 957px #fff,
    167px 1121px #fff,
    546px 1562px #fff,
    146px 244px #fff,
    872px 1599px #fff,
    379px 1296px #fff,
    1765px 1253px #fff,
    2000px 1986px #fff,
    1272px 289px #fff,
    1156px 107px #fff,
    1622px 1922px #fff,
    13px 1491px #fff,
    65px 1451px #fff,
    624px 1519px #fff,
    1987px 599px #fff,
    502px 1753px #fff,
    1504px 355px #fff,
    1932px 1173px #fff,
    30px 1586px #fff,
    1302px 1185px #fff,
    325px 85px #fff,
    1094px 251px #fff,
    319px 1388px #fff,
    1985px 1360px #fff,
    1677px 41px #fff,
    175px 1730px #fff,
    1315px 1153px #fff,
    1753px 131px #fff,
    1342px 1308px #fff,
    1174px 60px #fff,
    1395px 782px #fff,
    1623px 1266px #fff,
    1562px 1544px #fff,
    977px 1122px #fff,
    1985px 1281px #fff,
    1623px 110px #fff,
    784px 534px #fff,
    784px 65px #fff,
    123px 287px #fff,
    1817px 981px #fff,
    1997px 739px #fff,
    1104px 1642px #fff,
    869px 686px #fff,
    368px 1428px #fff,
    230px 286px #fff,
    1100px 388px #fff,
    1306px 999px #fff,
    1910px 685px #fff,
    1647px 1566px #fff,
    113px 795px #fff,
    920px 776px #fff,
    756px 523px #fff,
    606px 1776px #fff,
    1999px 779px #fff,
    454px 524px #fff,
    822px 486px #fff,
    482px 268px #fff,
    1848px 747px #fff,
    1835px 1968px #fff,
    786px 694px #fff,
    1992px 1423px #fff,
    1265px 1574px #fff,
    249px 319px #fff,
    1812px 1838px #fff,
    1666px 360px #fff,
    590px 563px #fff,
    1451px 413px #fff,
    751px 1812px #fff,
    457px 1803px #fff,
    1850px 1562px #fff,
    1179px 1509px #fff,
    337px 359px #fff,
    1825px 1834px #fff,
    678px 131px #fff,
    1069px 1674px #fff,
    1712px 1474px #fff,
    4px 678px #fff,
    1340px 9px #fff,
    1318px 508px #fff,
    607px 388px #fff,
    1076px 775px #fff,
    493px 983px #fff,
    841px 1944px #fff,
    1993px 1028px #fff,
    315px 227px #fff,
    582px 608px #fff,
    1198px 1369px #fff,
    957px 1509px #fff,
    1183px 165px #fff,
    606px 1583px #fff,
    175px 1195px #fff,
    626px 1727px #fff,
    1372px 1304px #fff,
    201px 1036px #fff,
    225px 820px #fff,
    1967px 874px #fff,
    1716px 109px #fff,
    1027px 520px #fff,
    932px 1144px #fff,
    1672px 440px #fff,
    1085px 431px #fff,
    1686px 1158px #fff,
    1517px 1863px #fff,
    220px 788px #fff,
    1268px 942px #fff,
    372px 1466px #fff,
    611px 1157px #fff,
    1362px 889px #fff,
    795px 882px #fff,
    129px 1210px #fff,
    794px 279px #fff,
    1608px 397px #fff,
    1039px 656px #fff,
    372px 566px #fff,
    649px 1812px #fff,
    1057px 1532px #fff,
    329px 661px #fff,
    1707px 679px #fff,
    784px 1955px #fff,
    14px 1335px #fff,
    34px 1079px #fff,
    1882px 1437px #fff,
    1015px 1698px #fff,
    580px 999px #fff,
    182px 1374px #fff,
    441px 1428px #fff,
    1507px 918px #fff,
    1627px 1009px #fff,
    892px 139px #fff,
    1454px 707px #fff,
    1469px 351px #fff,
    1214px 1880px #fff,
    1442px 344px #fff,
    158px 1005px #fff,
    1972px 1100px #fff,
    1009px 267px #fff,
    1617px 627px #fff,
    205px 251px #fff,
    1635px 1688px #fff,
    1161px 252px #fff,
    819px 667px #fff,
    980px 770px #fff,
    1902px 1757px #fff,
    1303px 828px #fff,
    298px 1320px #fff,
    1603px 1688px #fff,
    395px 353px #fff,
    1126px 1083px #fff,
    808px 499px #fff,
    1947px 511px #fff,
    1506px 855px #fff,
    861px 555px #fff,
    761px 643px #fff,
    340px 541px #fff,
    1722px 1633px #fff,
    1480px 796px #fff,
    921px 1264px #fff,
    1624px 546px #fff,
    393px 1519px #fff,
    1887px 1815px #fff,
    1168px 670px #fff,
    363px 1709px #fff,
    237px 66px #fff,
    1931px 994px #fff,
    959px 170px #fff,
    77px 1495px #fff,
    1552px 978px #fff,
    883px 1640px #fff,
    1391px 478px #fff,
    1996px 1599px #fff,
    664px 1669px #fff,
    816px 1548px #fff,
    357px 784px #fff,
    1968px 1932px #fff,
    1300px 955px #fff,
    1527px 212px #fff,
    1826px 711px #fff,
    1926px 573px #fff,
    1536px 1395px #fff,
    644px 718px #fff,
    1885px 982px #fff,
    1138px 223px #fff,
    1059px 1347px #fff,
    384px 932px #fff,
    98px 513px #fff,
    788px 285px #fff,
    1899px 603px #fff,
    686px 860px #fff,
    236px 1898px #fff,
    25px 1835px #fff,
    1313px 1476px #fff,
    1487px 1334px #fff,
    1916px 1948px #fff,
    1361px 1742px #fff,
    53px 985px #fff,
    967px 806px #fff,
    1363px 1615px #fff,
    437px 1634px #fff,
    1633px 1649px #fff,
    1937px 1212px #fff,
    1482px 1910px #fff,
    65px 944px #fff,
    752px 877px #fff,
    959px 251px #fff,
    1804px 1477px #fff,
    1457px 1117px #fff,
    1857px 296px #fff,
    1399px 922px #fff,
    1358px 1134px #fff,
    150px 138px #fff,
    1089px 1842px #fff,
    263px 1764px #fff,
    757px 589px #fff,
    136px 1994px #fff,
    1098px 1090px #fff,
    232px 1170px #fff,
    533px 468px #fff,
    1114px 186px #fff,
    523px 1937px #fff,
    391px 722px #fff,
    586px 1355px #fff,
    1494px 1377px #fff,
    647px 1544px #fff,
    1118px 1232px #fff,
    110px 913px #fff,
    654px 604px #fff,
    596px 1173px #fff,
    1957px 975px #fff,
    117px 281px #fff,
    1396px 509px #fff,
    1163px 817px #fff,
    539px 1782px #fff,
    762px 1496px #fff,
    616px 1327px #fff,
    158px 1431px #fff,
    507px 773px #fff,
    1562px 858px #fff,
    179px 982px #fff,
    305px 22px #fff,
    800px 1290px #fff,
    1172px 1784px #fff,
    1416px 499px #fff,
    1378px 1997px #fff,
    1514px 1881px #fff,
    1329px 1540px #fff,
    983px 1137px #fff,
    434px 1787px #fff,
    64px 1632px #fff,
    322px 1124px #fff,
    309px 1260px #fff,
    1626px 66px #fff,
    1872px 1778px #fff,
    19px 1942px #fff,
    1156px 216px #fff,
    1860px 1265px #fff,
    1870px 1044px #fff,
    787px 325px #fff,
    177px 865px #fff,
    1018px 722px #fff,
    134px 298px #fff,
    1379px 926px #fff,
    1816px 286px #fff,
    1563px 732px #fff,
    679px 1119px #fff,
    1619px 68px #fff,
    1067px 1756px #fff,
    101px 1114px #fff,
    1395px 1486px #fff,
    634px 1940px #fff,
    448px 1169px #fff,
    1467px 427px #fff,
    542px 1679px #fff,
    1998px 1423px #fff,
    208px 503px #fff,
    47px 1152px #fff,
    787px 1278px #fff,
    1277px 1622px #fff,
    488px 1045px #fff,
    989px 336px #fff,
    1168px 1713px #fff,
    1409px 1030px #fff,
    1813px 194px #fff,
    261px 139px #fff,
    165px 1223px #fff,
    405px 1309px #fff,
    1717px 1711px #fff,
    865px 1557px #fff,
    267px 29px #fff,
    1253px 298px #fff,
    371px 1024px #fff,
    361px 89px #fff,
    293px 122px #fff,
    1012px 1991px #fff,
    192px 821px #fff,
    517px 1847px #fff,
    1487px 96px #fff,
    1839px 954px #fff,
    472px 1416px #fff,
    837px 201px #fff,
    1072px 1734px #fff,
    661px 1740px #fff,
    321px 1868px #fff,
    431px 1846px #fff,
    1630px 482px #fff,
    1555px 1223px #fff,
    265px 521px #fff,
    1301px 117px #fff,
    995px 1093px #fff,
    797px 1870px #fff,
    543px 293px #fff,
    481px 652px #fff,
    353px 227px #fff,
    552px 463px #fff,
    1575px 629px #fff,
    253px 1897px #fff,
    1528px 1949px #fff,
    1283px 936px #fff,
    782px 1185px #fff,
    1130px 293px #fff,
    499px 1983px #fff,
    1605px 1432px #fff,
    1586px 1167px #fff,
    1904px 1303px #fff,
    433px 44px #fff,
    616px 67px #fff,
    340px 1695px #fff,
    332px 638px #fff,
    1561px 1124px #fff,
    1673px 1482px #fff,
    1537px 833px #fff,
    1990px 863px #fff,
    375px 1785px #fff,
    1720px 126px #fff,
    356px 1763px #fff,
    1505px 377px #fff,
    503px 1636px #fff,
    1755px 832px #fff,
    646px 412px #fff,
    1515px 298px #fff,
    108px 1678px #fff,
    1366px 1064px #fff,
    983px 317px #fff,
    746px 907px #fff,
    179px 1486px #fff,
    1768px 1478px #fff,
    1489px 435px #fff,
    1917px 1835px #fff,
    1236px 407px #fff,
    179px 1191px #fff,
    988px 770px #fff,
    1661px 166px #fff,
    401px 1789px #fff,
    57px 563px #fff,
    874px 1075px #fff,
    945px 1615px #fff,
    1065px 602px #fff,
    1357px 210px #fff,
    1580px 1710px #fff,
    8px 1468px #fff,
    365px 1797px #fff,
    1166px 182px #fff,
    471px 777px #fff,
    1963px 1948px #fff,
    540px 1790px #fff,
    482px 1059px #fff,
    1019px 967px #fff,
    1027px 332px #fff,
    393px 630px #fff,
    69px 493px #fff,
    191px 995px #fff,
    846px 354px #fff,
    404px 1633px #fff,
    1467px 1958px #fff,
    175px 783px #fff,
    751px 431px #fff,
    540px 929px #fff,
    1898px 1970px #fff,
    1137px 1644px #fff,
    40px 505px #fff,
    633px 1812px #fff,
    318px 1361px #fff,
    1618px 1727px #fff,
    1892px 633px #fff,
    1804px 1260px #fff,
    488px 1938px #fff,
    985px 435px #fff,
    90px 162px #fff,
    635px 1907px #fff,
    1187px 1004px #fff,
    30px 419px #fff,
    1382px 1403px #fff,
    1575px 413px #fff,
    1488px 150px #fff,
    195px 179px #fff,
    1377px 195px #fff,
    929px 1567px #fff,
    701px 635px #fff,
    1330px 1931px #fff,
    884px 1450px #fff,
    973px 613px #fff,
    15px 1184px #fff,
    1014px 1246px #fff,
    662px 516px #fff,
    1613px 1511px #fff,
    185px 838px #fff,
    1277px 1439px #fff,
    1431px 616px #fff,
    1136px 1700px #fff,
    1300px 260px #fff,
    839px 908px #fff,
    758px 98px #fff,
    1200px 761px #fff,
    1089px 1071px #fff,
    933px 1548px #fff,
    581px 1612px #fff,
    119px 1645px #fff,
    43px 1559px #fff,
    815px 1795px #fff,
    581px 983px #fff,
    631px 1742px #fff,
    1766px 376px #fff,
    1418px 1016px #fff,
    1942px 877px #fff,
    647px 350px #fff,
    1852px 316px #fff,
    1376px 1114px #fff,
    850px 1093px #fff,
    1340px 933px #fff,
    295px 1945px #fff,
    167px 385px #fff,
    1344px 534px #fff,
    1308px 156px #fff,
    500px 1963px #fff,
    68px 1902px #fff,
    86px 1869px #fff,
    603px 885px #fff,
    1010px 1548px #fff,
    91px 1533px #fff,
    232px 169px #fff,
    1436px 672px #fff,
    209px 1574px #fff,
    1260px 867px #fff,
    1959px 84px #fff,
    1740px 1474px #fff,
    39px 62px #fff,
    1406px 1065px #fff,
    821px 604px #fff,
    377px 908px #fff,
    60px 1379px #fff,
    1904px 39px #fff,
    1711px 1978px #fff,
    311px 1986px #fff,
    595px 1505px #fff,
    824px 1698px #fff,
    913px 194px #fff,
    297px 156px #fff,
    558px 1462px #fff,
    592px 300px #fff,
    459px 1324px #fff,
    1113px 1385px #fff,
    929px 1462px #fff,
    1382px 1543px #fff,
    1936px 537px #fff,
    1646px 1922px #fff,
    409px 517px #fff,
    1084px 1640px #fff,
    1913px 962px #fff,
    146px 120px #fff,
    1945px 306px #fff,
    1940px 867px #fff,
    1103px 15px #fff,
    1447px 967px #fff,
    1325px 1440px #fff,
    1947px 664px #fff,
    266px 855px #fff,
    1405px 15px #fff,
    654px 253px #fff,
    561px 698px #fff,
    961px 231px #fff,
    540px 1279px #fff,
    45px 1603px #fff,
    1551px 865px #fff,
    1902px 637px #fff,
    1761px 1158px #fff,
    374px 1557px #fff,
    783px 1711px #fff,
    491px 1902px #fff,
    1010px 934px #fff,
    1259px 241px #fff,
    1443px 1881px #fff,
    774px 1153px #fff,
    220px 651px #fff,
    1108px 786px #fff,
    1385px 1356px #fff,
    1880px 732px #fff,
    841px 1069px #fff,
    1020px 1509px #fff,
    265px 1387px #fff,
    1038px 1520px #fff,
    29px 1036px #fff,
    1958px 603px #fff,
    66px 1597px #fff,
    1579px 979px #fff,
    961px 1787px #fff,
    595px 1791px #fff,
    1174px 1426px #fff,
    40px 1028px #fff,
    1042px 939px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow:
    1613px 41px #fff,
    263px 1311px #fff,
    179px 1220px #fff,
    1108px 204px #fff,
    1479px 1388px #fff,
    1213px 440px #fff,
    1859px 279px #fff,
    1991px 1387px #fff,
    15px 1259px #fff,
    1435px 1561px #fff,
    1325px 1187px #fff,
    958px 1642px #fff,
    1389px 281px #fff,
    1062px 696px #fff,
    890px 1123px #fff,
    1659px 1186px #fff,
    576px 1053px #fff,
    162px 1979px #fff,
    1326px 1867px #fff,
    1801px 1693px #fff,
    1341px 125px #fff,
    754px 568px #fff,
    1674px 908px #fff,
    1949px 525px #fff,
    939px 509px #fff,
    1050px 1320px #fff,
    44px 180px #fff,
    1945px 1798px #fff,
    150px 1281px #fff,
    483px 1316px #fff,
    1995px 116px #fff,
    1630px 1362px #fff,
    114px 1177px #fff,
    1927px 465px #fff,
    550px 1971px #fff,
    917px 479px #fff,
    1232px 1888px #fff,
    1357px 374px #fff,
    1468px 1858px #fff,
    974px 110px #fff,
    1961px 1058px #fff,
    1475px 421px #fff,
    983px 218px #fff,
    137px 1274px #fff,
    1442px 627px #fff,
    798px 1867px #fff,
    1462px 1840px #fff,
    1507px 733px #fff,
    443px 898px #fff,
    54px 568px #fff,
    1137px 1588px #fff,
    396px 884px #fff,
    1643px 454px #fff,
    1935px 1706px #fff,
    1107px 385px #fff,
    1155px 530px #fff,
    1647px 661px #fff,
    1255px 1208px #fff,
    1837px 309px #fff,
    1922px 995px #fff,
    903px 1578px #fff,
    1072px 362px #fff,
    1443px 1848px #fff,
    1913px 1120px #fff,
    378px 372px #fff,
    1008px 578px #fff,
    303px 1174px #fff,
    969px 1744px #fff,
    400px 293px #fff,
    920px 860px #fff,
    190px 1137px #fff,
    1023px 851px #fff,
    1870px 227px #fff,
    1054px 588px #fff,
    1960px 1680px #fff,
    338px 1634px #fff,
    1898px 937px #fff,
    667px 102px #fff,
    1984px 1820px #fff,
    407px 1945px #fff,
    619px 288px #fff,
    1177px 1947px #fff,
    338px 742px #fff,
    992px 930px #fff,
    54px 1134px #fff,
    1614px 25px #fff,
    37px 1070px #fff,
    1324px 1685px #fff,
    1077px 1074px #fff,
    1385px 378px #fff,
    1445px 1221px #fff,
    430px 1963px #fff,
    168px 1847px #fff,
    851px 684px #fff,
    748px 1855px #fff,
    1038px 778px #fff,
    1170px 680px #fff,
    1400px 1902px #fff,
    754px 393px #fff,
    1090px 1102px #fff,
    1575px 460px #fff,
    369px 1514px #fff,
    359px 1627px #fff,
    1707px 795px #fff,
    1210px 706px #fff,
    965px 1626px #fff,
    952px 804px #fff,
    318px 1493px #fff,
    1597px 41px #fff,
    1864px 368px #fff,
    1475px 1227px #fff,
    1713px 81px #fff,
    1326px 1870px #fff,
    403px 1469px #fff,
    1250px 750px #fff,
    234px 273px #fff,
    508px 12px #fff,
    390px 1464px #fff,
    1303px 1124px #fff,
    657px 971px #fff,
    1240px 1027px #fff,
    1160px 1683px #fff,
    1893px 961px #fff,
    183px 1408px #fff,
    927px 728px #fff,
    1009px 140px #fff,
    1673px 439px #fff,
    306px 1366px #fff,
    298px 958px #fff,
    1467px 1029px #fff,
    319px 72px #fff,
    405px 1829px #fff,
    1983px 1411px #fff,
    1878px 754px #fff,
    1359px 776px #fff,
    945px 1442px #fff,
    508px 1595px #fff,
    1667px 836px #fff,
    132px 1464px #fff,
    1596px 1021px #fff,
    222px 210px #fff,
    763px 1086px #fff,
    523px 1745px #fff,
    1132px 683px #fff,
    16px 240px #fff,
    415px 603px #fff,
    1416px 355px #fff,
    1570px 986px #fff,
    1616px 1708px #fff,
    1268px 822px #fff,
    506px 40px #fff,
    1775px 870px #fff,
    1470px 1847px #fff,
    569px 1605px #fff,
    1744px 312px #fff,
    679px 1129px #fff,
    1968px 1445px #fff,
    42px 1601px #fff,
    1972px 1576px #fff,
    266px 1574px #fff,
    1896px 966px #fff,
    421px 255px #fff,
    349px 405px #fff,
    539px 941px #fff,
    1395px 425px #fff,
    235px 737px #fff,
    553px 977px #fff,
    1924px 723px #fff,
    1214px 681px #fff,
    1260px 1489px #fff,
    540px 684px #fff,
    1616px 1304px #fff,
    574px 1562px #fff,
    76px 1544px #fff,
    229px 633px #fff,
    596px 1941px #fff,
    845px 314px #fff,
    1591px 511px #fff,
    99px 1352px #fff,
    1137px 579px #fff,
    1510px 2000px #fff,
    738px 436px #fff,
    746px 479px #fff,
    357px 1706px #fff,
    1746px 542px #fff,
    1026px 1869px #fff,
    95px 783px #fff,
    1138px 364px #fff,
    952px 1410px #fff,
    429px 1757px #fff,
    1288px 1715px #fff,
    498px 615px #fff,
    1506px 630px #fff,
    518px 1231px #fff,
    980px 1119px #fff,
    389px 3px #fff,
    951px 683px #fff,
    1730px 965px #fff,
    1210px 115px #fff,
    141px 41px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow:
    1613px 41px #fff,
    263px 1311px #fff,
    179px 1220px #fff,
    1108px 204px #fff,
    1479px 1388px #fff,
    1213px 440px #fff,
    1859px 279px #fff,
    1991px 1387px #fff,
    15px 1259px #fff,
    1435px 1561px #fff,
    1325px 1187px #fff,
    958px 1642px #fff,
    1389px 281px #fff,
    1062px 696px #fff,
    890px 1123px #fff,
    1659px 1186px #fff,
    576px 1053px #fff,
    162px 1979px #fff,
    1326px 1867px #fff,
    1801px 1693px #fff,
    1341px 125px #fff,
    754px 568px #fff,
    1674px 908px #fff,
    1949px 525px #fff,
    939px 509px #fff,
    1050px 1320px #fff,
    44px 180px #fff,
    1945px 1798px #fff,
    150px 1281px #fff,
    483px 1316px #fff,
    1995px 116px #fff,
    1630px 1362px #fff,
    114px 1177px #fff,
    1927px 465px #fff,
    550px 1971px #fff,
    917px 479px #fff,
    1232px 1888px #fff,
    1357px 374px #fff,
    1468px 1858px #fff,
    974px 110px #fff,
    1961px 1058px #fff,
    1475px 421px #fff,
    983px 218px #fff,
    137px 1274px #fff,
    1442px 627px #fff,
    798px 1867px #fff,
    1462px 1840px #fff,
    1507px 733px #fff,
    443px 898px #fff,
    54px 568px #fff,
    1137px 1588px #fff,
    396px 884px #fff,
    1643px 454px #fff,
    1935px 1706px #fff,
    1107px 385px #fff,
    1155px 530px #fff,
    1647px 661px #fff,
    1255px 1208px #fff,
    1837px 309px #fff,
    1922px 995px #fff,
    903px 1578px #fff,
    1072px 362px #fff,
    1443px 1848px #fff,
    1913px 1120px #fff,
    378px 372px #fff,
    1008px 578px #fff,
    303px 1174px #fff,
    969px 1744px #fff,
    400px 293px #fff,
    920px 860px #fff,
    190px 1137px #fff,
    1023px 851px #fff,
    1870px 227px #fff,
    1054px 588px #fff,
    1960px 1680px #fff,
    338px 1634px #fff,
    1898px 937px #fff,
    667px 102px #fff,
    1984px 1820px #fff,
    407px 1945px #fff,
    619px 288px #fff,
    1177px 1947px #fff,
    338px 742px #fff,
    992px 930px #fff,
    54px 1134px #fff,
    1614px 25px #fff,
    37px 1070px #fff,
    1324px 1685px #fff,
    1077px 1074px #fff,
    1385px 378px #fff,
    1445px 1221px #fff,
    430px 1963px #fff,
    168px 1847px #fff,
    851px 684px #fff,
    748px 1855px #fff,
    1038px 778px #fff,
    1170px 680px #fff,
    1400px 1902px #fff,
    754px 393px #fff,
    1090px 1102px #fff,
    1575px 460px #fff,
    369px 1514px #fff,
    359px 1627px #fff,
    1707px 795px #fff,
    1210px 706px #fff,
    965px 1626px #fff,
    952px 804px #fff,
    318px 1493px #fff,
    1597px 41px #fff,
    1864px 368px #fff,
    1475px 1227px #fff,
    1713px 81px #fff,
    1326px 1870px #fff,
    403px 1469px #fff,
    1250px 750px #fff,
    234px 273px #fff,
    508px 12px #fff,
    390px 1464px #fff,
    1303px 1124px #fff,
    657px 971px #fff,
    1240px 1027px #fff,
    1160px 1683px #fff,
    1893px 961px #fff,
    183px 1408px #fff,
    927px 728px #fff,
    1009px 140px #fff,
    1673px 439px #fff,
    306px 1366px #fff,
    298px 958px #fff,
    1467px 1029px #fff,
    319px 72px #fff,
    405px 1829px #fff,
    1983px 1411px #fff,
    1878px 754px #fff,
    1359px 776px #fff,
    945px 1442px #fff,
    508px 1595px #fff,
    1667px 836px #fff,
    132px 1464px #fff,
    1596px 1021px #fff,
    222px 210px #fff,
    763px 1086px #fff,
    523px 1745px #fff,
    1132px 683px #fff,
    16px 240px #fff,
    415px 603px #fff,
    1416px 355px #fff,
    1570px 986px #fff,
    1616px 1708px #fff,
    1268px 822px #fff,
    506px 40px #fff,
    1775px 870px #fff,
    1470px 1847px #fff,
    569px 1605px #fff,
    1744px 312px #fff,
    679px 1129px #fff,
    1968px 1445px #fff,
    42px 1601px #fff,
    1972px 1576px #fff,
    266px 1574px #fff,
    1896px 966px #fff,
    421px 255px #fff,
    349px 405px #fff,
    539px 941px #fff,
    1395px 425px #fff,
    235px 737px #fff,
    553px 977px #fff,
    1924px 723px #fff,
    1214px 681px #fff,
    1260px 1489px #fff,
    540px 684px #fff,
    1616px 1304px #fff,
    574px 1562px #fff,
    76px 1544px #fff,
    229px 633px #fff,
    596px 1941px #fff,
    845px 314px #fff,
    1591px 511px #fff,
    99px 1352px #fff,
    1137px 579px #fff,
    1510px 2000px #fff,
    738px 436px #fff,
    746px 479px #fff,
    357px 1706px #fff,
    1746px 542px #fff,
    1026px 1869px #fff,
    95px 783px #fff,
    1138px 364px #fff,
    952px 1410px #fff,
    429px 1757px #fff,
    1288px 1715px #fff,
    498px 615px #fff,
    1506px 630px #fff,
    518px 1231px #fff,
    980px 1119px #fff,
    389px 3px #fff,
    951px 683px #fff,
    1730px 965px #fff,
    1210px 115px #fff,
    141px 41px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow:
    1317px 635px #fff,
    445px 995px #fff,
    341px 1602px #fff,
    381px 89px #fff,
    1421px 1023px #fff,
    829px 654px #fff,
    1781px 1506px #fff,
    1014px 1534px #fff,
    440px 1558px #fff,
    514px 661px #fff,
    788px 1297px #fff,
    785px 1430px #fff,
    1519px 438px #fff,
    211px 727px #fff,
    948px 1805px #fff,
    1313px 1231px #fff,
    1795px 162px #fff,
    869px 1365px #fff,
    731px 248px #fff,
    1722px 1638px #fff,
    1072px 1194px #fff,
    350px 1195px #fff,
    197px 776px #fff,
    1480px 1055px #fff,
    1611px 1235px #fff,
    876px 1703px #fff,
    1533px 1033px #fff,
    1720px 1816px #fff,
    635px 1579px #fff,
    829px 1599px #fff,
    1588px 1316px #fff,
    1956px 1436px #fff,
    311px 67px #fff,
    822px 100px #fff,
    896px 610px #fff,
    1453px 1429px #fff,
    895px 146px #fff,
    1347px 1322px #fff,
    1758px 1978px #fff,
    1484px 1197px #fff,
    781px 1772px #fff,
    1519px 572px #fff,
    1847px 385px #fff,
    176px 1128px #fff,
    1903px 876px #fff,
    350px 713px #fff,
    1942px 21px #fff,
    1513px 118px #fff,
    1043px 1379px #fff,
    1102px 1740px #fff,
    179px 518px #fff,
    1064px 1175px #fff,
    1751px 1172px #fff,
    356px 843px #fff,
    105px 1307px #fff,
    1498px 152px #fff,
    1674px 43px #fff,
    1215px 1806px #fff,
    419px 1640px #fff,
    487px 666px #fff,
    1248px 1423px #fff,
    1878px 375px #fff,
    310px 699px #fff,
    212px 1867px #fff,
    315px 1693px #fff,
    1462px 799px #fff,
    1514px 1715px #fff,
    1740px 1453px #fff,
    153px 305px #fff,
    292px 977px #fff,
    1002px 479px #fff,
    1174px 1606px #fff,
    1758px 674px #fff,
    1519px 135px #fff,
    36px 222px #fff,
    1927px 920px #fff,
    1759px 1947px #fff,
    673px 139px #fff,
    1551px 1393px #fff,
    1847px 360px #fff,
    1559px 444px #fff,
    621px 1672px #fff,
    1089px 700px #fff,
    460px 1223px #fff,
    1769px 1104px #fff,
    236px 78px #fff,
    1416px 1402px #fff,
    277px 871px #fff,
    1741px 597px #fff,
    635px 686px #fff,
    542px 1700px #fff,
    569px 59px #fff,
    1632px 1708px #fff,
    1378px 1487px #fff,
    1052px 668px #fff,
    935px 1758px #fff,
    1332px 1455px #fff,
    1686px 1155px #fff,
    890px 1645px #fff,
    563px 1428px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow:
    1317px 635px #fff,
    445px 995px #fff,
    341px 1602px #fff,
    381px 89px #fff,
    1421px 1023px #fff,
    829px 654px #fff,
    1781px 1506px #fff,
    1014px 1534px #fff,
    440px 1558px #fff,
    514px 661px #fff,
    788px 1297px #fff,
    785px 1430px #fff,
    1519px 438px #fff,
    211px 727px #fff,
    948px 1805px #fff,
    1313px 1231px #fff,
    1795px 162px #fff,
    869px 1365px #fff,
    731px 248px #fff,
    1722px 1638px #fff,
    1072px 1194px #fff,
    350px 1195px #fff,
    197px 776px #fff,
    1480px 1055px #fff,
    1611px 1235px #fff,
    876px 1703px #fff,
    1533px 1033px #fff,
    1720px 1816px #fff,
    635px 1579px #fff,
    829px 1599px #fff,
    1588px 1316px #fff,
    1956px 1436px #fff,
    311px 67px #fff,
    822px 100px #fff,
    896px 610px #fff,
    1453px 1429px #fff,
    895px 146px #fff,
    1347px 1322px #fff,
    1758px 1978px #fff,
    1484px 1197px #fff,
    781px 1772px #fff,
    1519px 572px #fff,
    1847px 385px #fff,
    176px 1128px #fff,
    1903px 876px #fff,
    350px 713px #fff,
    1942px 21px #fff,
    1513px 118px #fff,
    1043px 1379px #fff,
    1102px 1740px #fff,
    179px 518px #fff,
    1064px 1175px #fff,
    1751px 1172px #fff,
    356px 843px #fff,
    105px 1307px #fff,
    1498px 152px #fff,
    1674px 43px #fff,
    1215px 1806px #fff,
    419px 1640px #fff,
    487px 666px #fff,
    1248px 1423px #fff,
    1878px 375px #fff,
    310px 699px #fff,
    212px 1867px #fff,
    315px 1693px #fff,
    1462px 799px #fff,
    1514px 1715px #fff,
    1740px 1453px #fff,
    153px 305px #fff,
    292px 977px #fff,
    1002px 479px #fff,
    1174px 1606px #fff,
    1758px 674px #fff,
    1519px 135px #fff,
    36px 222px #fff,
    1927px 920px #fff,
    1759px 1947px #fff,
    673px 139px #fff,
    1551px 1393px #fff,
    1847px 360px #fff,
    1559px 444px #fff,
    621px 1672px #fff,
    1089px 700px #fff,
    460px 1223px #fff,
    1769px 1104px #fff,
    236px 78px #fff,
    1416px 1402px #fff,
    277px 871px #fff,
    1741px 597px #fff,
    635px 686px #fff,
    542px 1700px #fff,
    569px 59px #fff,
    1632px 1708px #fff,
    1378px 1487px #fff,
    1052px 668px #fff,
    935px 1758px #fff,
    1332px 1455px #fff,
    1686px 1155px #fff,
    890px 1645px #fff,
    563px 1428px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
